<!-- Navbar -->
<nav class="navbar">
    <div class="container navbar-container">
        <div class="navbar-logo">
            <a href="/">
                <img src="/images/logo-voyageo-white.webp" alt="Voyageo Tours Logo" width="180" height="60">
            </a>
        </div>
        
        <div class="navbar-toggle">
            <div class="bar"></div>
            <div class="bar"></div>
            <div class="bar"></div>
        </div>
        
        <ul class="navbar-menu">
            <li><a href="/">Home</a></li>
            <li><a href="/tours">Morocco Tours</a></li>
            <li><a href="/customize">Customize My Tour</a></li>
            <li><a href="/car-rental">Rent A Car</a></li>
            <li><a href="/blog">Blog</a></li>
            <li><a href="/contact">Contact</a></li>
            <li><a href="/faqs">Traveler's Guide: FAQs</a></li>
        </ul>
    </div>
</nav> 